.product {
    display: grid;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        grid-auto-rows: auto;
        gap: 70px;
        @media(max-width: 750px) {
            grid-template-columns: repeat(2, 0fr);
        }
        @media(max-width: 425px) {
            grid-template-columns: repeat(1, 0fr);;
        }
    }
    &__card {
        width: 220px;
        height: 260px;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
        border-radius: 8px;
        background-color: #fff;
    }
    &__logo {
        padding: 37px 27px 14px 27px;
        width: 221px;
        height: 166px;
    }
    &__name {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #000000;
    }
    &__region {
        font-weight: 400;
        font-size: 14px;
        text-align: right;
        color: #000000;
        padding: 14px 27px;
    }
    &__price {
        padding-right: 27px;
        font-weight: 700;
        font-size: 14px;
        text-align: right;
        color: #000000;
    }
}

.link {
    text-decoration: none;
}

.card-exit-active {
    opacity: 0.5;
    animation: fade-out 1000ms forwards;
}
.card-active {
    opacity: 1;
    animation: fade-in 1000ms forwards;
}

@keyframes fade-in {
    0% {
        opacity: 1;
        transform: translateX(100px);
    } 
    100% {
        opacity: 1;
        transform: translateX(0);
    }  
}
@keyframes fade-out {
    0% {
        opacity: 0.5;
        transform: translateX(-200px);
    } 
    100% {
        opacity: 0.5;
        transform: translateX(0);
    }  
}
