.pleasure {
    display: flex;
    &__title {
        font-weight: 700;
        font-size: 24px;
    }
    &__wrapper {
        margin: 115px 0 0 165px;
    }
    &__img {
        margin: 70px 0 0 280px;
    }
    &__country {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 16px;
    }
    &__descr {
        font-weight: 700;
        font-size: 16px;
        color: #000000;
        margin-bottom: 16px;
    }
    &__price {
        font-weight: 700;
        font-size: 16px;
    }
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__logo {
            padding: 30px 25px; 
        }
    &__line {
            color: #000;
            width: 60px;
            height: 0;
        }
    
}