.coffee {
    background: url(../../resources/img/paper_bg.png);
    min-height: 495px;
    padding-bottom: 3rem;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        grid-auto-rows: auto;
        justify-content: center;
        @media(max-width: 890px) {
            grid-template-columns: repeat(1, 0fr);
        }
    }
    &__title {
        display: flex;
        justify-content: center;
    }
    &__text {
        display: inline-block;
        margin-top: 80px;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }
}